* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: #eee;
}
/* ************************************************************************* */
/* ************************************************************************* */
/* 
    Header
*/
/* ************************************************************************* */
/* ************************************************************************* */
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
    /* background-color: #eee; */
    border-bottom: 1px solid black;
}

/* justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end; 
*/
.logoContainer {
    display: flex;
}

.logo {
    width: 70px;
    justify-content: flex-start;
}

/* Although there are no navigations in the website right now, but I had planned to make seperate movies and Tv section so the navigation part in the header still has flexbox */

.navigation {
    list-style: none;
    display: flex;
    width: 900px;
    justify-content: flex-end;
    flex-flow: row wrap;
}

.navlinks {
    width: 300px;
    height: 30px;
}

.navLinks li, a {
    font-size: 24px;
    font-weight: 700;    
    color:white;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    padding: 0 80px;
    /* align-items: ; */
}

.navSelected a {
    color: #504caf;
}

.navLinks a:hover {
    color: #eee;
    border: 1px solid #504caf;
    border-radius: 5px;
    padding-top: 9px;
    padding-bottom: 9px;
    background: #504caf;
    transition: all 0.1s ease 0s;
    cursor: pointer;
    /* margin: 16px; */
}

/* ************************************************************************* */
/* ************************************************************************* */
/* 
    Main body
*/
/* ************************************************************************* */
/* ************************************************************************* */
.content {
    margin-top: 50px;
    margin-bottom: 30px;
}

.content h1 {
    font-size: 60px;
    font-weight: 900;
}

.content p {
    font-size: 25px;
    margin-top: 16px;
}

.content, .search, .categories {
    text-align: center;
}

input:focus, select:focus{
    outline: none;
}

/* .findItem {
    color: white;
    background: #504caf;
    padding: 10px 40px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
} */

/* .findItem:hover {
    cursor: pointer;
    background: #eee;
    color: #504caf;    
}

.searchInput {
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
    width: 500px;
    height: 30px;
} */

.categories {
    margin: 20px;
}

.selectCategories {
    color: #504caf;
    background: white;
    padding: 8px 30px;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    margin: 5px;
}

/* .dropdownCategories:hover {
    color: white;
    background: #504caf;
}

.dropdownCategories {
    color: #504caf;
    background: white;
    padding: 8px 30px;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    margin: 5px;
} */

.selectCategories:hover {
    cursor: pointer;
    background: #504caf;
    color: #eee;    
}

.dropdownOption {
    background: #eee;
    color: #504caf;  
}

/* ************************************************************************* */
/* ************************************************************************* */
/* 
    Cards section css
*/
/* ************************************************************************* */
/* ************************************************************************* */
.output {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.cardsContainer {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* width: 80%; */
    /* justify-items: center; */
    justify-content: center; 
}

.card {
    position: relative;
    width: 200px;
    height: 300px;
    transform-style: preserve-3d;
    margin: 30px;
    perspective: 1000px;
    /* flex-grow: 2; */
}

.cardContent {
    position: relative;
    transition: transform 0.7s;
    transform-style: preserve-3d;
}

.card:hover .cardContent {    
    transform: rotateY(180deg) scale(1.1) translate3D(0,-40px,0);
    /* transform: translate3D(0,-1px,0) scale(1.03); */
    transition: all 0.7s ease-out;     
    height: inherit;  
    /* position: absolute; */
    z-index: 2;
}

.cardFace {
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    background-color: #eee;
    color: black;
}

.cardBack {
    height: max-content;
    transform: rotateY(180deg);
    font-size: 1.9vh;
    padding: 12px;
    line-height: 1.3;
    height: 370px; 
}

h3 {
    padding: 5px;
    text-align: center;
}

/* There was supposed to be a button for trailer, but I was not able to make that happen in the javascript part */
/* .trailerBtn {
    color: white;
    background: #504caf;
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin: 10px 0;
    width: 120px;
}

.trailerBtn:hover {
    cursor: pointer;
    background: #333;
    color: #eee;    
} */

.topBack, .bottomBack {
    margin: 5px 0;
}

.card img {
    height: 300px;
    width: 200px;
}

.cardFront .cardTitle {
    font-size: 1vw;
} 

/* .cardFront {
    position: relative;
    text-align: center;
}

.cardTitle {
    position: absolute;
    bottom: 0px;
    background: white;
} */

/* ************************************************************************* */
/* ************************************************************************* */
/* 
    Footer
*/
/* ************************************************************************* */
/* ************************************************************************* */

footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.attribution {
    margin: 100px auto 20px auto;
    font-size: 10px;
}

.attribution a {
    text-decoration: none;
    color: #eee;
    background: none;
    font-size: 10px;
}




